[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs/packages/use-package"]
	path = emacs/packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs/packages/bind-key"]
	path = emacs/packages/bind-key
	url = https://github.com/emacsattic/bind-key.git
[submodule "emacs/packages/dash.el"]
	path = emacs/packages/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "emacs/packages/s.el"]
	path = emacs/packages/s.el
	url = https://github.com/magnars/s.el.git
[submodule "emacs/packages/emacs-leuven-theme"]
	path = emacs/packages/emacs-leuven-theme
	url = git://github.com/fniessen/emacs-leuven-theme.git
[submodule "emacs/packages/org-mode"]
	path = emacs/packages/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "emacs/packages/org-bullets"]
	path = emacs/packages/org-bullets
	url = https://github.com/sabof/org-bullets.git
[submodule "emacs/packages/org-journal"]
	path = emacs/packages/org-journal
	url = git@github.com:d12frosted/org-journal.git
